{% extends 'base.html.twig' %}
{% block title 'Agence immobilière | Nos biens' %}


{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos Biens</h1>
        
    </div>
{% endblock %}