{% extends 'base.html.twig' %}
{% block title 'Gestion des biens | Maskan' %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier l'option</h1>
        {{ include('admin/option/_form.html.twig', {form: form, button: 'Modifier'}) }}
    </div>

{% endblock %}